{% extends "base.html" %}

{% block titulo %} Inicio {% endblock%}

{% block contenido %}

<div class="p-5 bg-light">
    <div class="container">
        
        <div style="text-align: center;">
      
    <h1 class="display-7"><b>Empresas que contratan a personas con discapacidad y que población de
      discapacitados percibe más contratación</b></h1>

        <p class="lead">
      ------------------------------------------------------------------------------------------------------
    </p>
    </div>

    <div style="text-align: center;">
      <img src="https://i.ibb.co/zJfPvLy/UES.png" alt="UES" border="0">
    </div>

    <p>
      En cuanto a las empresas que contratan a personas con discapacidad, existen muchas 
      organizaciones en El Salvador que se esfuerzan por promover la inclusión laboral y 
      ofrecer oportunidades de empleo a personas con discapacidad. Estas empresas pueden 
      variar en tamaño, sector y ubicación geográfica en el país.<br><br>

      En relación con la población de discapacitados que percibe más contratación, es importante 
      tener en cuenta que las personas con discapacidad son diversas y tienen diferentes 
      habilidades, talentos y necesidades. No hay una única población de discapacitados que 
      reciba más contratación, ya que depende de factores como la ubicación geográfica, las 
      políticas de empleo inclusivas, las habilidades requeridas por las empresas y las 
      oportunidades disponibles en cada contexto.<br><br>

      Es fundamental destacar que promover la inclusión laboral de personas con discapacidad 
      es un tema importante para construir sociedades más equitativas y brindar igualdad de 
      oportunidades para todos. Las iniciativas de inclusión laboral, las leyes de protección de 
      derechos y las políticas de apoyo pueden influir en la contratación de personas con 
      discapacidad y contribuir a la diversidad y la igualdad en el ámbito laboral.

      <div style="text-align: center;">
        <h1 class="display-6"><b>Bibliografía:</b></h1> 
    </div>

      <ul>
        <li>Discapacidad, C. N. (2021). Ley especial de inclusión de las personas con discapacidad.</li>
        <li><a href="https://historico.elsalvador.com/historico/464082/ellos-tambien-tienen-derecho-a-un-puesto-de-trabajo.html">
          Henríquez, K. (24 de 03 de 2018). elsalvador.com. Recuperado el 20 de 04 de 2023.</a></li>
          <p>
            <li>Unicef, D. G. (2015). ANÁLISIS Y CARACTERIZACIÓN DE LAS PERSONAS CON DISCAPACIDAD A PARTIR DE 
                LA ENCUESTA NACIONAL 2015.</li>
          </p>
        <li><a href="https://www.mtps.gob.sv/2022/02/02/mtps-lanza-programa-de-insercion-laboral-para-beneficiar-a-las-personas-con-discapacidad/">
          Unknown. (02 de 02 de 2022). Ministerio de trabajo.</a></li>
        <li><a href="https://www.grupocalleja.com.sv/manos-a-la-obra/">
          Unknown. (s.f.). GrupoCalleja.</a></li>
        <li><a href="https://www.tigo.com.sv/noticias/tigo-el-salvador-lanza-incluyete-programa-de-inclusion-laboral-para-personas-con-discapacidad">
          Unknown. (s.f.). TigoElSalvador. </a></li>
      </ul>
    </p>



        <hr class="my-2">
        <p class="lead">
        </p>
    </div>
</div>
{% endblock%}